svg(
  xmlns="http://www.w3.org/2000/svg" 
  fill="none" 
  viewBox="0 0 18 18" 
  height="18" 
  width="18"
  )
  path(
    fill="#7B6DD7" 
    d="M16.1699 8.05492L15.1499 6.86992C14.9549 6.64492 14.7974 6.22492 14.7974 5.92492V4.64992C14.7974 3.85492 14.1449 3.20242 13.3499 3.20242H12.0749C11.7824 3.20242 11.3549 3.04492 11.1299 2.84992L9.94491 1.82992C9.42741 1.38742 8.57991 1.38742 8.05491 1.82992L6.87741 2.85742C6.65241 3.04492 6.22491 3.20242 5.93241 3.20242H4.63491C3.83991 3.20242 3.18741 3.85492 3.18741 4.64992V5.93242C3.18741 6.22492 3.02991 6.64492 2.84241 6.86992L1.82991 8.06242C1.39491 8.57992 1.39491 9.41992 1.82991 9.93742L2.84241 11.1299C3.02991 11.3549 3.18741 11.7749 3.18741 12.0674V13.3499C3.18741 14.1449 3.83991 14.7974 4.63491 14.7974H5.93241C6.22491 14.7974 6.65241 14.9549 6.87741 15.1499L8.06241 16.1699C8.57991 16.6124 9.42741 16.6124 9.95241 16.1699L11.1374 15.1499C11.3624 14.9549 11.7824 14.7974 12.0824 14.7974H13.3574C14.1524 14.7974 14.8049 14.1449 14.8049 13.3499V12.0749C14.8049 11.7824 14.9624 11.3549 15.1574 11.1299L16.1774 9.94492C16.6124 9.42742 16.6124 8.57242 16.1699 8.05492ZM12.1199 7.58242L8.49741 11.2049C8.39241 11.3099 8.24991 11.3699 8.09991 11.3699C7.94991 11.3699 7.80741 11.3099 7.70241 11.2049L5.88741 9.38992C5.66991 9.17242 5.66991 8.81242 5.88741 8.59492C6.10491 8.37742 6.46491 8.37742 6.68241 8.59492L8.09991 10.0124L11.3249 6.78742C11.5424 6.56992 11.9024 6.56992 12.1199 6.78742C12.3374 7.00492 12.3374 7.36492 12.1199 7.58242Z"
    )