svg(
  xmlns="http://www.w3.org/2000/svg" 
  fill="none" 
  viewBox="0 0 14 14" 
  height="14" 
  width="14"
  )
  path(
    stroke-linejoin="round" 
    stroke-linecap="round" 
    stroke="#A6A7B2" 
    d="M8.60344 1.16675H4.82344C2.63011 1.16675 2.46094 3.13841 3.64511 4.21175L9.78178 9.78841C10.9659 10.8617 10.7968 12.8334 8.60344 12.8334H4.82344C2.63011 12.8334 2.46094 10.8617 3.64511 9.78841L9.78178 4.21175C10.9659 3.13841 10.7968 1.16675 8.60344 1.16675Z"
    )